# 開発環境用PostgreSQLユーザ名
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=journey_timeline_db
POSTGRES_HOST=db

# Security
SECRET_KEY=your_super_secret_key_here
ACCESS_TOKEN_EXPIRE_MINUTES=1440
